# Copyright 2025-2026 CEMAXECUTER LLC.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

[Unit]
Description=FPV Receiver (WarDragon)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=dragon
Group=dragon
WorkingDirectory=/home/dragon/WarDragon/wardragon-fpv-detect
Environment=FPV_DJI_GUARD=1
Environment=FPV_DJI_GUARD_INTERVAL=30
ExecStart=/home/dragon/WarDragon/wardragon-fpv-detect/scripts/fpv_energy_service.sh -z --zmq-endpoint tcp://127.0.0.1:4226
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
